@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Arial Regular";
  src: url("../../fonts/ArialMT.eot");
  src: url("../../fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../fonts/ArialMT.woff") format("woff"), url("../../fonts/ArialMT.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Arial Bold";
  src: url("../../fonts/Arial-BoldMT.eot");
  src: url("../../fonts/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../../fonts/Arial-BoldMT.woff") format("woff"), url("../../fonts/Arial-BoldMT.ttf") format("truetype");
  font-weight: 700;
}
.container {
  max-width: 1306px;
  margin: 0 auto;
}

.header {
  margin-bottom: 35px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__title {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
  letter-spacing: 0.4px;
  color: #000;
  max-width: 248px;
  height: 36px;
  margin-top: 31px;
}
.header__rating-yandex {
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 3px;
  max-width: 79px;
  max-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__rating-title {
  margin-left: 2px;
  margin-top: -3px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  color: #FD0000;
}
.header__rating-star {
  width: 30px;
  height: 25px;
}
.header__rating-appraisal {
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  color: #000;
  margin-right: 8px;
  margin-top: -4px;
}
.header__rating-info {
  width: 199px;
  height: 39.09px;
  background-image: url("../../icons/yandex-rating.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4px 18px 4px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 81px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
}
.header__rating-search {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header__rating-stars {
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px;
}
.header__rating-feedback {
  font-family: Inter sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #000;
  margin-left: 127px;
  margin-top: -14px;
}
.header__messangers {
  margin-left: 61px;
  margin-top: 22px;
}
.header__messangers-title {
  position: relative;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #000;
  margin-bottom: 2px;
}
.header__messangers-title::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -12px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #00E317;
}
.header__messangers-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 108px;
}
.header__messangers-link {
  width: 23px;
  height: 23px;
}
.header__messangers-link:not(:first-child) {
  margin-left: 10px;
}
.header__messangers-link:nth-child(2) {
  width: 26px;
  height: 26px;
}
.header__phone {
  margin-left: 52px;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.header__phone-img {
  width: 20px;
  height: 20xp;
}
.header__phone-number {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #000;
}
.header__btn {
  width: 170px;
  height: 45px;
  padding: 16.5px 30.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border-radius: 7px;
  border: 1px solid #000;
  opacity: 0px;
  color: #000;
  margin-top: 30px;
  margin-left: 19px;
  font-family: Inter sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.navigation {
  margin-bottom: 34px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__item:nth-child(2) {
  margin-left: 261px;
}
.navigation__item:nth-child(3) {
  margin-left: 76px;
}
.navigation__item:nth-child(4) {
  margin-left: 64px;
}
.navigation__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #000;
  position: relative;
}
.navigation__link:first-child {
  max-width: 145px;
  max-height: 66px;
}

.tutorial {
  margin-bottom: 38px;
}
.tutorial__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tutorial__info {
  max-width: 741px;
  min-height: auto;
  padding: 48px 48px 73px 42px;
  background-color: #F7F7F7;
  border-radius: 29px;
}
.tutorial__info-title {
  font-family: Onest;
  font-size: 43px;
  font-weight: 700;
  line-height: 49.45px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 19px;
}
.tutorial__info-span {
  background-color: #3C6BE4;
  color: #fff;
  max-width: 338px;
  max-height: 48.7px;
  border-radius: 11px;
  padding: 0 9px;
}
.tutorial__info-subtitle {
  font-family: Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.15px;
  text-align: left;
  max-width: 376px;
  min-height: 48px;
  margin-bottom: 28px;
}
.tutorial__list-item {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  text-align: left;
  max-width: 365px;
  max-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.tutorial__list-item:not(:last-child) {
  margin-bottom: 14px;
}
.tutorial__list-item:last-child {
  margin-bottom: 43px;
}
.tutorial__list-img {
  width: 19.42px;
  height: 19.42px;
  border-radius: 100%;
  background-color: #FF4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tutorial__list-img img {
  width: 70%;
  height: 70%;
}
.tutorial__link {
  max-width: 585px;
  max-height: 66px;
  border-radius: 10px;
  background-color: #23232A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 11px 11px 0;
  margin-bottom: 14px;
  -webkit-transition: background-color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.tutorial__link-price {
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  text-align: left;
  color: #fff;
  margin-left: 221px;
}
.tutorial__link-arrow {
  max-width: 44px;
  max-height: 44px;
  border: 1px;
  padding: 22px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  margin-left: 167px;
}
.tutorial__link:hover {
  background-color: #000;
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
}
.tutorial__elaborate {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  max-width: 368px;
  max-height: 38px;
  color: #000;
  margin: 0 auto;
}
.tutorial__bonus {
  width: 531px;
  height: 605px;
}
.tutorial__bonus-top {
  background-image: url("../img/wooman.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 297px;
  border-radius: 29px;
  margin-bottom: 11px;
}
.tutorial__bonus-handy {
  width: 144px;
  height: 40px;
  background-color: #C4DFFF;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: #000;
  border-radius: 29px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 89px;
}
.tutorial__bonus-rebate {
  width: 255px;
  height: 81px;
  font-family: Onest, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24.72px;
  text-align: left;
  color: #000;
  margin-left: 24px;
}
.tutorial__bonus-red {
  font-size: 27px;
  line-height: 27.81px;
  color: #FF4A4A;
}
.tutorial__bonus-bottom {
  background-image: url("../img/free.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 297px;
  padding: 40px 0 0 24px;
}
.tutorial__bonus-medical {
  max-width: 315px;
  min-height: 53px;
  font-family: Onest, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24.72px;
  text-align: left;
  margin-bottom: 8px;
}
.tutorial__bonus-blue {
  font-size: 27px;
  line-height: 27.81px;
  color: #3C6BE4;
}
.tutorial__bonus-more {
  max-width: 88px;
  min-height: 19px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;
  color: #000;
  position: relative;
}
.tutorial__bonus-more::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.tutorial__bonus-img {
  width: 320px;
  height: 320px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  margin-left: 175px;
  margin-top: -100px;
}

.steps__box {
  background-color: #3C6BE4;
  border-radius: 40px;
  padding: 60px 27px 47px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps__five {
  font-family: Onest, sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 49.45px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
  margin-bottom: 57px;
}
.steps__five-red {
  max-width: 276.15px;
  max-height: 48.7px;
  border-radius: 11px;
  background-color: #FF4A4A;
  padding: 2px 9px;
}
.steps__items {
  position: relative;
}
.steps__item {
  width: 213px;
  max-height: 64px;
  border-radius: 30px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 21px 18.36px 27px;
  margin-bottom: 11px;
}
.steps__item:nth-child(4) {
  width: 259px;
}
.steps__item:nth-child(8) {
  width: 375px;
}
.steps__item-img {
  width: 41px;
  height: 36.64px;
}
.steps__item-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #000;
}
.steps__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 30px;
}
.steps__descr-line {
  height: 72px;
  width: 1px;
}
.steps__descr-info {
  max-width: 468px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #FFFFFF;
}
.steps__descr-last {
  margin-left: 30px;
}
.steps__right {
  width: 562px;
  height: 711px;
  background-image: url("../../img/wooman-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 29px;
  margin-top: 20px;
  position: relative;
}
.steps__right-five {
  position: absolute;
  left: 50%;
  bottom: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 504px;
  height: 95px;
  border-radius: 108px;
  border: 14px solid #3C6BE4;
  background-color: #fff;
  padding: 10px 14px;
}
.steps__right-img {
  width: 44.52px;
  height: 36.64px;
}
.steps__right-title {
  font-family: Arial;
  font-size: 27px;
  font-weight: 400;
  line-height: 31.05px;
  text-align: left;
  color: #000;
}
.steps__right-arrow {
  position: absolute;
  left: -67px;
  bottom: -17px;
  width: 84.71px;
  height: 34.28px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}/*# sourceMappingURL=style.css.map */