@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');
@font-face {
    font-family: 'Arial Regular';
    src: url('../../fonts/ArialMT.eot');
    src: url('../../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ArialMT.woff') format('woff'),
    url('../../fonts/ArialMT.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Arial Bold';
    src: url('../../fonts/Arial-BoldMT.eot');
    src: url('../../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Arial-BoldMT.woff') format('woff'),
    url('../../fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: 700;
}