.steps {    
    &__box {
        background-color: $blueColor;  
        border-radius: 40px;
        padding: 60px 27px 47px 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__five {
        font-family: Onest, sans-serif;
        font-size: 43px;
        font-weight: 700;
        line-height: 49.45px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #fff;
        margin-bottom: 57px;
        &-red {
            max-width: 276.15px;
            max-height: 48.7px;
            border-radius: 11px;
            background-color: $redColor;
            padding: 2px 9px;
        }
    }
    &__items {
        position: relative;
        
    }
    &__item {
        width: 213px;
        max-height: 64px;
        border-radius: 30px;
        background-color: #F7F7F7;
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 9px 21px 18.36px 27px;
        margin-bottom: 11px;
        &:nth-child(4) {
            width: 259px;
        }
        &:nth-child(8) {
            width: 375px;
        }
       
        &-img {
            width: 41px;
            height: 36.64px;         
        }
        &-title {
            font-family: Arial, sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;            
            color: #000
        }       
    }
    &__descr {
        display: flex;
        align-items: start;
        gap: 30px;
        &-line {
            height: 72px;
            width: 1px;
        }
        &-info {
            max-width: 468px;
            font-family: Arial, sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 20.7px;
            text-align: left;
            color: #FFFFFF;
           
        }
        &-last {
            margin-left: 30px;
        }
    }
    &__right {
        width: 562px;
        height: 711px;
        background-image: url('../img/wooman-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 29px;
        margin-top: 20px;
        position: relative;
        &-five {
            position: absolute;
            left: 50%;
            bottom: 45px;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 504px;
            height: 95px;
            border-radius: 108px;
            border: 14px solid $blueColor;
            background-color: #fff;
            padding: 10px 14px;      
        }
        &-img {
            width: 44.52px;
            height: 36.64px;           
        }
        &-title {
            font-family: Arial;
            font-size: 27px;
            font-weight: 400;
            line-height: 31.05px;
            text-align: left;
            color: #000;
        }
        &-arrow {
            position: absolute;
            left: -67px;
            bottom: -17px;
            width: 84.71px;
            height: 34.28px; 
            transform: rotate(14deg);     
        }
    }
}